<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.manejointeligentedepragas">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="MIP²"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".RelatorioAplicacoesPlanos2"></activity>
        <activity android:name=".SelecionaPragaRelatorioAplicacoesRealizadas" />
        <activity android:name=".SelecionaPragaPlanosRealizados" />
        <activity android:name=".RelatorioAplicacoesRealizadas" />
        <activity android:name=".SelecionaPragaRelatorioAplicacoesPlanos" />
        <activity android:name=".RelatorioAplicacoesPlanos" />
        <activity android:name=".EsqueciSenha" />
        <activity android:name=".RelatorioPlanosRealizados" />
        <activity android:name=".SelecionaPragaRelatorioPragaPlano" />
        <activity android:name=".RelatorioPragaPlano" />
        <activity android:name=".Relatorios" />
        <activity android:name=".VisualizaInimigos" />
        <activity android:name=".VisualizaMetodos" />
        <activity android:name=".VisualizaPlantas" />
        <activity android:name=".infoInimigoNatural" />
        <activity android:name=".infoMetodo" />
        <activity android:name=".infoPlanta" />
        <activity android:name=".AplicaMetodoDeControle" />
        <activity android:name=".ConfirmacaoPlanoAmostragem" />
        <activity android:name=".InfoPraga" />
        <activity android:name=".VisualizaPragas" />
        <activity android:name=".PlanoDeAmostragem" />
        <activity android:name=".RealizarPlano" />
        <activity android:name=".SobreMIP" />
        <activity android:name=".VisualizaFuncionario" />
        <activity android:name=".Perfil" />
        <activity android:name=".AdicionarPraga" />
        <activity android:name=".Pragas" />
        <activity android:name=".AcoesCultura" />
        <activity android:name=".AdicionarFunc" />
        <activity
            android:name=".AdicionarCultura"
            android:screenOrientation="portrait" />
        <activity android:name=".Cultura" />
        <activity android:name=".AdicionarPropriedade" />
        <activity android:name=".Propriedades" />
        <activity android:name=".Cadastro" />
        <activity android:name=".Entrar" />
        <activity android:name=".MainActivity">
            //android:theme="@style/AppTheme.NoActionBar"
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>